**/*.DS_Store
node_modules
.vercel
dist
prod
*.zip
*.importmap
*.gz
*.lock
*.lock.json
log.txt
/main
.duckcache
/fixtures/node_modules
/caches
*.pprof

**/*.log.txt
**/*package-lock.json
**/pnpm-lock.yaml
**/sorted.json
**/*.md.patch