:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --system: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@font-face {
  font-family: emoji;

  /* Fonts for text outside emoji blocks */
  src: local("Droid Sans Mono"), local("Lucida Console"),
    local("Arial Monospaced"), local(Arial);
}

* {
  box-sizing: border-box;
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --hud-z-index: 1;
}

html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  touch-action: pan-x, pan-y, pan-left, pan-right, pan-up, pan-down;
  font-family: var(--font-family);
}

html,
body,
textarea,
input,
label {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

form {
  margin: 0;
  padding: 0;
}

#game_canvas {
  position: static !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  contain: layout;
}

html {
  background-color: rgb(61, 59, 87);
  color: white;
}
:root {
  --x-padding: 24px;
  --y-padding: 16px;
  --y-padding-half: 8px;
}

.__DevServer__ErrorPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

.__DevServer__ErrorPage-modal {
  margin-top: 10vh;
  background: rgb(32, 32, 44);
  border-radius: 4px;
  filter: drop-shadow(1px 1px 3px rgb(48, 48, 68));
  color: white;
  color: white;
  min-width: 800px;
  width: auto;
  grid-auto-flow: row;
}

.__DevServer__ErrorPage-footer,
.__DevServer__ErrorPage-heading {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
}

.__DevServer__Error-sourceCode {
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-flow: row;
}

.__DevServer__ErrorPage-footer,
.__DevServer__Error-text,
.__DevServer__ErrorPage-heading,
.__DevServer__ErrorPage-title {
  padding: var(--y-padding) var(--x-padding);
}

.__DevServer__ErrorPage-footer {
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: space-between;
}

.__DevServer__ErrorPage-heading {
  padding-bottom: var(--y-padding-half);
}

.__DevServer__ErrorPage-button {
}

.__DevServer__ErrorPage-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.__DevServer__Error-text {
  color: rgb(238, 1, 96);
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 0;
}

.__DevServer__Error-line {
  padding-right: var(--x-padding);
}

.__DevServer__Error-lineNumber,
.__DevServer__Error-line {
  font-family: var(--monospace);
  background-color: rgb(21, 21, 21);
  color: rgb(168, 174, 189);
  white-space: pre-line;
  font-size: 1rem;
  height: 1.2rem;
}

.__DevServer__Error-location {
}

.__DevServer__Error-location {
  padding-top: 0;
  padding-left: var(--x-padding);
  padding-bottom: var(--y-padding-half);
  font-family: var(--monospace);
}

.__DevServer__Error-line--empty {
}

.__DevServer__Error-lineNumber {
  font-family: var(--monospace);
  color: rgb(168, 174, 189);
  text-align: right;
  padding-left: var(--x-padding);
  user-select: none;
  -webkit-user-select: none;
}

.__DevServer__Error-location {
  color: rgb(168, 174, 189);
}

.__DevServer__Error-lineNumber--highlight,
.__DevServer__Error-line--highlight {
  background-color: rgb(1, 6, 14);
  color: white;
}

.__DevServer__Error-location .strong {
  color: rgb(230, 230, 1);

  font-size: 1rem;
}

.strong--caret {
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px dashed rgb(238, 1, 96);
}

.__DevServer__Error-lineNumber {
  padding-right: 16px;
  padding-left: 32px;
}
