@import "./shared.css";

.__DevServer__ErrorPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100vw;
}

.__DevServer__ErrorPage-modal {
  margin-top: 32px;
  background: rgb(32, 32, 44);
  border-radius: 4px;
  filter: drop-shadow(1px 1px 3px rgb(48, 48, 68));
  color: white;
  color: white;
  min-width: auto;
  max-width: 800px;
  width: 100%;
  grid-auto-flow: row;
  margin-bottom: 16px;
}

.__DevServer__ErrorPage-footerText a,
.__DevServer__ErrorPage-footerText,
.__DevServer__ErrorPage-footer,
.__DevServer__ErrorPage-heading {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
}
.__DevServer__ErrorPage-footerText a,
.__DevServer__ErrorPage-footerText {
  text-transform: unset;
}
.__DevServer__Error-sourceCode {
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-flow: row;
  overflow-x: auto;
}

.__DevServer__ErrorPage-subtitle,
.__DevServer__ErrorPage-footer,
.__DevServer__Error-text,
.__DevServer__ErrorPage-heading,
.__DevServer__ErrorPage-title {
  padding: var(--y-padding) var(--x-padding);
}

.__DevServer__ErrorPage-footer {
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: space-between;
}

.__DevServer__ErrorPage-heading {
  padding-bottom: var(--y-padding-half);
}

.__DevServer__ErrorPage-button {
}

.__DevServer__ErrorPage-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.__DevServer__Error-text {
  color: rgb(238, 1, 96);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: var(--y-padding-half);
  padding-top: var(--y-padding-half);
}

.__DevServer__Error .__DevServer__Error-text {
  border-top: 1px solid rgba(200, 200, 200, 0.2);
}

.__DevServer__Error-text--no-location {
  font-size: 1.4rem;
}

.__DevServer__Error-line {
  padding-right: var(--x-padding);
}

.__DevServer__Error-text-number {
  font-family: var(--monospace);
  color: rgb(168, 174, 189);
  margin-right: 4px;
  font-variant: small-caps;
  font-size: 1.4rem;
  margin-left: auto;
  user-select: none;
  -webkit-user-select: none;
}

.__DevServer__Error-lineNumber,
.__DevServer__Error-line {
  font-family: var(--monospace);
  background-color: rgb(21, 21, 21);
  color: rgb(168, 174, 189);
  white-space: pre;
  font-size: 1rem;
  height: 1.2rem;
}

.__DevServer__Error-lineNumber {
  font-variant: small-caps;
}

.__DevServer__Error-location {
}

.__DevServer__Error-location {
  padding-top: 0;
  padding-left: var(--x-padding);
  padding-bottom: var(--y-padding-half);
  font-family: var(--monospace);
}

.__DevServer__Error-line--empty {
}

.__DevServer__Error-lineNumber {
  font-family: var(--monospace);
  color: rgb(168, 174, 189);
  text-align: right;
  padding-left: var(--x-padding);
  user-select: none;
  -webkit-user-select: none;
}

.__DevServer__Error-location {
  color: rgb(168, 174, 189);
}

.__DevServer__Error-lineNumber--highlight,
.__DevServer__Error-line--highlight {
  background-color: rgb(1, 6, 14);
  color: white;
}

.__DevServer__Error-location .strong {
  color: rgb(230, 230, 1);

  font-size: 1rem;
}

.strong--caret {
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px dashed rgb(238, 1, 96);
}

.__DevServer__Error-lineNumber {
  padding-right: 16px;
  padding-left: 32px;
}

.__DevServer_Mono {
  font-family: var(--monospace) !important;
}

.__DevServer__ErrorPage-title--no-y {
  padding-bottom: 0;
}
.__DevServer__ErrorPage-subtitle {
  padding-top: var(--y-padding-half);
}

.__DevServer__ErrorPage-button {
  margin: var(--y-padding) var(--x-padding);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
  background-color: rgb(105, 116, 218);
  font-weight: 500;
  font-size: 1.4rem;
  transform: scale(1);
  transition: transform 0.1s linear;
  transition-property: background-color, transform;
}

.__DevServer__ErrorPage-button:hover {
  background-color: rgb(92, 103, 194);
  transform: scale(1.02);
}

.__DevServer__ErrorPage-button:active {
  background-color: rgb(87, 98, 190);
  transform: scale(1.01);
}
